<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>We have added new movie to our database: <%= @movie.name %>!</h1>
     <p>Movie was directed by <%= @director.name %></p>
     <p>Newsletter</p>
   </body>
 </html>
